<h1>Banners</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Active</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @banners.each do |banner| %>
      <tr>
      <% if banner.images.attached? %> 
      <%= image_tag(banner.images.first, class: "w-16 h-16 object-cover rounded-md mr-4") %>
    <% end %>
        <td><%= banner.title %></td>
        <td><%= banner.description %></td>
        <td><%= banner.active %></td>
        <td><%= link_to 'Show', [:admin, banner] %></td> 
        <td><%= link_to 'Edit', edit_admin_banner_path(banner) %></td>
        <td><%= link_to 'Destroy', [:admin, banner], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banner', new_admin_banner_path %>
